*{
	margin: 0 auto; 
	padding: 0;
	box-sizing: border-box;
}
body{
	min-width: 1160px;
}
a{
	text-decoration:none; 
	color: black;
}

hr{
	color:#eeeeee;
}

.wrapper{
	width:1160px;
}
.header-bg{
	background-color: #eeeeee;
}
.class1{
	height:123px;
}
.class1 .nerds-logo{
	width:160px;
	height:65px;
	margin-top: 50px;
}
.class1 .nerds-logo:hover{
	opacity:0.8;
}
.class1 .nerds-logo:active{
	opacity:0.3;
}
.class1 ul{
	list-style:none;
	margin-left: 360px;
	position: absolute;
	top: 80px;
	min-width: 800px;

}
.class1 ul li{
	text-transform: uppercase;
	display: inline-block;
	margin-right: 43px;
	font-size: 16px;
	font-family: RobotoMedium;
	color:black;
}
.class1 ul li a:hover{
	color:#fb565a;
}
.class1 ul li a:active{
	color:black;
	opacity:0.3;
}
.active{
	border-bottom:2px solid #fb565a;
	padding-bottom: 10px;
}
.class1 .contacts{
	margin-right: 0px;
}
.class1 .cart{
	margin-left: 195px;
}
.class1 a:visited{
	color:black;
}
.class1 .cart-icon{
	width:15px;
	height:15px;
	display: inline-block;
}
.class1 span{
	margin-left: 22px;
}
.class2{
	height:422px;
}
.class2 .slider1_h1{
	font-family: RobotoMedium;
	font-size:55px;
	margin-top: 75px;
}
.class2 .slider1_h2{
	font-family: RobotoRegular;
	font-size:17px;
	color:#283136;
	margin-top: 30px;
}
.class2 .header_btn{
	width:240px;
	height:50px;
	border-radius: 5px;
	background-color: #fb565a;
	text-transform: uppercase;
	font-size: 16px;
	font-family: RobotoMedium;
	color:white;
	margin-left: 0;
	margin-top: 45px;
	position: relative; 
}
.class2 .header_btn:hover{
	background-color: #e74246;
}
.class2 .header_btn:active{
	background-color: #d7363a;
	border-top: 3px solid #c13134;
}
.class2 .header_btn:active p{
	opacity:0.3;
}
.class2 .header_btn p{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.class2 .wrap_slider1{
	float: left;
}
.class2 .slider1 img{
	float:left;
	margin-left: 50px;
	margin-top: 10px;
}

.class3 .advantages{
	display:inline-block;
	width:300px;
	margin-top:80px;
	margin-right:100px;
	margin-bottom: 80px;
}
.class3 .present{
	margin-right:0;
}
.class3 .advantages .adv_h1{
	text-transform: uppercase;
	font-size:24px;
	font-family: RobotoBold;
	margin-top: 20px;
	margin-bottom: 20px;
}
.class3 .advantages .adv_h2{
	font-size:17px;
	color:#283136;
	font-family: RobotoRegular;
	line-height:1.5;
}
/*button*/
.class3 .advantage_btn{
	width:160px;
	height:50px;
	margin-left:0;
	margin-top:35px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 16px;
	font-family: RobotoMedium;
	color:white;
	margin-left: 0;
	margin-top: 45px;
	position: relative; 
}
.class3 .advantage_btn p{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.class3 .advantage_btn1{
	background-color:#fb565a;
}
.class3 .advantage_btn2{
	background-color:#00ca74;
}
.class3 .advantage_btn3{
	background-color:#efc84a;
}
.class3 .advantage_btn1:hover{
	background-color:#e74246;
}
.class3 .advantage_btn1:active{
	background-color:#d7373b;
	border-top: 3px solid #c13134;
}
.class3 .advantage_btn2:hover{
	background-color:#00bc6c;
}
.class3 .advantage_btn2:active{
	background-color:#00aa62;
	border-top: 3px solid #009958;
}
.class3 .advantage_btn3:hover{
	background-color:#eab534;
}
.class3 .advantage_btn3:active{
	background-color:#e5a722;
	border-top: 3px solid #ce961f;
}
.class3 .advantage_btn:active p{
	opacity:0.3;
}
/*button*/
.class4 .studio{
	display: inline-block;
	width:667px;
	height:408px;
	margin-top:80px;
}
.class4 .studio .studio_h1{
	font-family: RobotoMedium;
	font-size: 45px;
	line-height: 45px;
}
.class4 .studio .studio_h2{
	font-family: RobotoRegular;
	font-size: 17px;
	color:#283136;
	line-height: 24px;
	margin-top:40px;
	margin-bottom:45px;
}
.class4 .studio .studio_h3{
	font-family: RobotoBold;
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom:35px;
}
.class4 .studio .studio_h4{
	font-size: 16px;
	color:#283136;
	margin-bottom:35px;
}
hr.class_4{
	margin-top: 80px;
}
.class4 .studio .tirer{
	width:25px; height:2px; background-color:#fb565a;
	float:left; margin-top:10px; margin-right:10px;
}
.class4 .history{
	display: inline-block;
	width:360px;
	height:408px;
	float: right;
	margin-top:40px;
}
.class4 .history .history_h1{
	font-family: RobotoBold;
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	margin-top:30px;
	margin-bottom:35px;	
    float: right;

}
.class4 .history .plus{
	width:350px;
	height:100px;
	margin-bottom:65px;
}
.class4 .plus_1{
	width:112px;
	float: left;
}
.class4 .plus_1 .plus_h1 sup{
	font-size:25px;
}
.class4 .history .plus .plus_h1{
	font-family: RobotoBold;
	font-size: 46px;
	line-height: 10px;
	margin-bottom: 30px;
	display: inline-block;
}
.class4 .history .plus .plus_h2{
	font-family: RobotoRegular;
	font-size: 17px;
	line-height: 18px;
	color:#283136;
	display: inline-block;
}

.class5 .image{
	margin-bottom:45px; 
	margin-top:40px;
}
.class5 .image>img{
	opacity:0.2;
}
.class5 .image>img:hover{
	opacity:1;
}
.class5 .image>img:active{
	opacity:0.1;
}
.class5 .image .logo-1{
	margin-left: 30px;
}
.class5 .image .logo-2{
	margin-left: 95px;
}
.class5 .image .logo-3{
	margin-left: 95px;margin-bottom: 15px;
}
.class5 .image .logo-4{
	margin-left: 120px;
}

.class6{
	padding-top:75px;
	border:0;
}

.class7{
	padding-top: 65px;
}
.class7 img{
	margin-right:11px;
}
.class7 .social{
	display:inline-block;
	float:left;
}

.class7 .icon{
	display:inline-block;
	height:79px;
	width:79px;
	border-radius:50%;
	background-color:#e1e1e1;
	margin-right: 10px;
}
.class7 .icon:hover{
	background-color:#e74246;
}
.class7 .icon:active img{
	opacity:0.3;
}
.class7 .icon:active{
	background-color:#d7373b;
}

.class7 .icon .logos1{
	margin-left: 27px;
	margin-top: 30px;
}
.class7 .icon .logos2{
	margin-left: 34px;
	margin-top: 23px;
}
.class7 .icon .logos3{
	margin-left: 29px;
	margin-top: 25px;
}	
.class7 .footer_text{
	display: inline-block;
	margin-left: 140px;
	height:70px;
	margin-bottom: 80px;
}
.class7 .footer_text1{
	font-family: RobotoBold;
	font-size: 36px;
	line-height: 36px;
	
}
.class7 .footer_text2{
	font-family: RobotoRegular;
	font-size: 17px;
	color:#444444;
}
