*{
	margin: 0 auto; 
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration:none; 
	color: black;
}

.body{
	
}
.wrapper{
	width:1160px;
}
.header-bg{
	background-color: #eeeeee;
}
.class1{
	height:123px;
}
.class1 .nerds-logo{
	width:160px;
	height:65px;
	margin-top: 50px;
}
.class1 ul{
	list-style:none;
	margin-left: 360px;
	position: absolute;
	top: 80px;
}
.class1 ul li{
	text-transform: uppercase;
	display: inline-block;
	margin-right: 43px;
	font-size: 16px;
	font-family: RobotoMedium;
	font-color:black;
}
.class1 .cart{
	margin-left: 200px;
}
.class1 a:visited{
	color:black;
}
.class1 .cart-icon{
	width:15px;
	height:15px;
	display: inline-block;
}
.class1 span{
	margin-left: 22px;
}
.class2{
	height:422px;
}
.class2 .slider1_h1{
	font-family: RobotoMedium;
	font-size:55px;
	margin-top: 75px;
}
.class2 .slider1_h2{
	font-family: RobotoRegular;
	font-size:16px;
	color:#283136;
	margin-top: 30px;
}
.class2 .header_bn{
	width:240px;
	height:50px;
	border-radius: 5px;
	background-color: #fb565a;
	text-transform: uppercase;
	font-size: 16px;
	font-family: RobotoMedium;
	color:white;
	margin-left: 0;
	margin-top: 45px;
	position: relative; 
}
.class2 .header_bn:hover{
	background-color: #e74246;
}
.class2 .header_bn:active{
	background-color: #d7363a;
	color: #e37375;
	border-top: 4px solid #c13134;
}
.class2 .header_bn p{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.class2 .wrap_slider1{
	float: left;
}
.class2 .slider1 img{
	float:left;
	margin-left: 50px;
	margin-top: 10px;
}
.class3{
	height:508px;
}
.class4{
	height:530px;
}
.class5{
	height:177px;
}
.class6{
	height:500px;
}
.class7{
	height:220px;
}